<h2>New Book</h2>
<form action="/books" method="POST">
  <%- include('_form_fields')%>

  <!-- anchor tag which is used to link things -->
  <a href="/books">Cancel</a>

  <!-- buton used for submission -->
  <button type="submit">Create</button>
</form>
